
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background: rgb(18, 93, 150)  ;
}

.navbar h1{
  margin-left: 20px;
  font-size: 30px;
  color: rgb(137, 194, 216);
}

.navbar .navbar__list a{
  margin: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}