* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html , body , #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 60px;
  background: #0278b2;
  color: #ffffff;
}

.header__link {
  color: rgb(255, 255, 255);
  margin-left: 1rem;
}

.main {
  flex: 1;
  padding: 1rem;
}

.footer {
  height: 60px;
  background: #0278b2;
  color: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.true {
  color: rgb(102, 183, 224);
}

.false {
  color: rgb(20, 19, 19);
}
